@media screen and (min-width: 992px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
    p  {
        font-size: 16px;
    }

    .blue-background {
        background-color: transparent;
    }

    .button_container {
        padding-left: 45px;
    }

    .slide {
        padding-top: 20px
    }

    .slide1 {
        padding-top: 30px;
    }

    .slide1 h1 {
        font-size: 44px;
    }

    .social {
        top: 0;
        background-color: white;
    }

    .social p {
        font-weight: 700;
    }

    .logo {
        top: 56px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slides {
        padding: 56px 0 67px;
    }

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }
    .footer p{
        text-align: left;
    }
    /* content */
    .triggered-info {
        min-height: 40px;
        font-size: 22px;
        color: #024C64;
    }

    .

    .value-trigger {
        margin-top: 10px;
    }

    select {
        font-size: 24px;
    }

    .select_container {
        margin-top: 30px;
    }

    .value_bar p{
        min-width: 20px;
        min-height: 20px;
        max-height: 60px;
        max-width: 58px;
        border-style: solid;
        border-width: 1px;
        border-color: #959595;
        background-color: #ffffff;
        padding-left: 22px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .value_bar.checked p{
        background-color: #959595;
    }

    .value_bar_container p {
        color: black;
        font-size: 16px;
    }

    .progress_bar {
        margin-top: 0;
    }

    .progress_bar table{
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }

    .progress_bar td {
        max-width: 50px;
        text-align: center;
    }

    .make_circle {
        margin: 0 auto;
        font-size: 9px;
        width: 17px;
        height: 17px;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        border-color: #959595;
        background-color: #999999;
        color: #999999;
    }

    .progress_bar td p {
        font-size: 10px;
    }

    .make_circle.marker{
        margin: 0 auto;
        background-color: #ffffff;
        width: 35px;
        height: 35px;
    }

    .make_circle.marker p{
        font-size: 18px;
        margin-top: 4px;
    }

    .circle_width {
        width: 50px;
    }

    .slack {
        width: 10px;
    }
}