@media screen and (min-width: 1000px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 56px;
    }

    .blue-background {
        background-color: transparent;
    }

    .button_container {
        padding-left: 45px;
    }

    .slide {
        padding-top: 110px
    }

    .slide1 {
        padding-top: 40px;
    }

    .slide1 p {
        font-size: 18px;
    }

    .social {
        top: 0;
    }

    .logo {
        top: 56px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slides {
        padding: 113px 0 87px;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
    }
}