@font-face {
    font-family: 'ProximaNova-thin';
    src: url('/font/Proxima Nova Thin.otf');
}
@font-face {
    font-family: 'ProximaNova-reg';
    src: url('/font/ProximaNova-Regular.otf')
}

body {
    font-family: ProximaNova-thin;
}

h1 {
    font-size: 45px;
}
p {
    font-size: 16px;
}

.title {
    color: #024C64;
}

.thin-font {
    font-family: ProximaNova-thin;
}
.reg-font {
    font-family: ProximaNova-reg;
}
.text-align {
    text-align: center;
}

.blue-background {
    background-color: blue;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.validation-error {
    visibility: hidden;
    color: red;
    padding: 10px 0;
}
.forescout-btn {
    font-size: 19.44px;
    border-radius: 0px;
    border-style: solid;
    border-color: #00a651;
    border-width: 0.2px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.start {
    font-weight: 800;
    font-size: 24px;
    border: 1px solid white;
}

.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}
.no_margin {
    margin-left: 0px;
    margin-right: 0px;

}

.select_container {
    position: relative;
}

.select_container::after {
    content: " ";
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0px;
    background-repeat: no-repeat;
    background-image: url('/work/forescout_arrowdown.png');
    width: 50px;
    height: 20px;
    margin-top: -10px;
    margin-right: -10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    font-size: 16px;
    height: 60px;
}

.select_input::after {
    content: " "
}

select:after {
    content: " ";
}

.select_input {
    padding-left: 15px;
    width: 100%;
}

.check_box_container {
    display: flex;
    align-items: center;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 10px 10px;
    border-style: solid;
    border-color: #959595;
    border-width: 1px;
    background-color: #ffffff;
}

.check_box_container.borderless {
    border: 0px;
    padding-left: 0px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.borderless .check_box {
    margin-left: 0px;
}

.check_box_container p {
    margin: auto 0;
}

.check_box {
    position: relative;
    border: 1px solid #959595;
    height: 24px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    margin: 5px 10px;
    align-self: flex-start;
}

.check_box p {
    margin: auto 0;
}

.check_box a {
    align-self: flex-start;
}

.check_box .check_mark {
    position: absolute;
    top: -5px;
    left: 5px;
    display: none;
    width: 24px;
    height: 24px;
}

.check_box.checked .check_mark {
    display: block;
}

.button_container {
    margin-bottom: 50px;
}

/* logo container */
.content {
    padding-top: 47px;
    padding-bottom: 154px;
    overflow: auto;
}

/* content container css */
.content_container {
    overflow: hidden;
    padding-top: 47px;
    padding-bottom: 154px;
    height: 100%;
}
.check_box_image {
    width: 40px;
}

.slides {
    height: 100%;
    margin: 0;
    padding: 47px 0 140px 0;
    overflow: hidden;
}

.slide {
    position: relative;
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 40px;
}

.nist-path {
    display: none;
}

.sans-path {
    display: none;
}

.triggered-info {
    min-height: 100px;
    font-size: 22px;
    color: #024C64;
}
.triggered-info .option {
    display: none;
}

#slideshow {
    transition: .25s linear;
}

.value_bar p{
    min-width: 20px;
    min-height: 20px;
    max-height: 60px;
    max-width: 58px;
    border-style: solid;
    border-width: 1px;
    border-color: #959595;
    background-color: #ffffff;
    padding-left: 5px;
}

.value_bar.checked p{
    background-color: #959595;
}

.value_bar_container p {
    color: black;
    font-size: 15px;
}
/*
.value_bar p{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 23px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}*/

.progress_bar {
    margin-top: 25px;
}

.progress_bar table{
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}

.progress_bar td {
    text-align: center;
}

.make_circle {
    margin: 0 auto;
    font-size: 9px;
    width: 9px;
    height: 9px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: #959595;
    background-color: #999999;
    color: #999999;
}

.progress_bar td p {
    font-size: 5px;
}

.make_circle.marker{
    margin: 0 auto;
    background-color: #ffffff;
    width: 23px;
    height: 23px;
}

.make_circle.marker p{
    font-size: 13px;
    margin-top: 2px;
}

.slack {
    width: 10px;
}

.row.actions {
    margin-top: 15px;
}

.logo {
    z-index: 999;
    position: fixed;
    width: 100%;
    min-height: 47px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* social media css */
.social {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #00adf2;
    bottom: 98px;
    font-size: 18px;
    font-family: ProximaNova-thin;
}

.social p{
    margin-top: 17px;
    margin-bottom: 14px;
}

.social_container {
    font-size: 24px;
    color: #00689e;

}

.social_container i {
    margin-left: 20px;
}

/* footer css */
.footer {
    font-family: ProximaNova-reg;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 98px;
    background-color: #024c64;
    bottom: 0;
    color: #ffffff;
}

.footer p{
    margin-top: 15px;
}




::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

