.background {
    background-image: url('/work/landing_background.jpg');
    background-size: cover;
}

.slide {
    padding-top: 0px;
}

.slide1 h1 {
    margin-top: 20px;
    color: #ffffff;
}
.slide1 p {
    font-size: 16px;
    font-family: ProximaNova-reg;
    color: #ffffff;
}

.slide9 label {
    margin-bottom: 0px;
}

.slide9 .name_input_field input{
    width: 100%;
}