<html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/css/main.css" rel="stylesheet">-->
  <link href="/css/mobile.css" rel="stylesheet">
  <!--<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">-->
</head>
<body>
  <div class="container-fluid">
    <div class="navigate">
      <div class="row social" style="height: 60px; background-color: #00adf2;">
        <div class="social_container">
          <a href=""><img src="/work/forescout-social-contactus.png" alt="contact us"></a>
          <a href=""><img src="/work/forescout-social-linkedin.png" alt="linkedin"></a>
          <a href=""><img src="/work/forescout-social-twitter.png" alt="twitter"></a>
          <a href=""><img src="/work/forescout-social-facebook.png" alt="facebook"></a>
          <a href=""><img src="/work/forescout-social-square.png" alt="square"></a>
          <a href=""><img src="/work/forescout-social-youtube.png" alt="youtube"></a>
        </div>
      </div>
      </div>
    <div class="logo">
      <div class="row logo" style="background-color: #ffffff;">
        <div class="container no_padding">
          <div class="logo" style="padding-top: 30px; padding-bottom: 30px;">
            <img src="/work/forescout-logo.png" alt="forescout">
          </div>
        </div>
      </div>
    </div>

    <div class="row content_container">
      <div id="slideshow">
        <div class="slide slide1" id="1" >
          <div class="full_width_container" >
            <div class="container ">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-6" >
                  <h1 >Device Visibility Assessment</h1>
                  <p class="reg-font">If you can’t see an unauthorized or noncompliant device on your network, you control it. Conventional security solutions are only capable of seeing devices that are equipped with agents-- ok if all devices were easily seen and managed by IT security. But they're not.  Networks are being bombarded by agentless IoT and BYOD devices connecting and expanding the attack surface...invisibly... giving attackers a sense of invincibility. The key is how to make the invisible visible.
                  <p class="reg-font">Start by understanding your level of exposure to invisi- ble attacks by taking a few minutes fill out our Device Visibility Assessment
                    to help your see what you may not be seeing before it's too late.</p>
                </div>
              </div>
              <div class="row">
                <div class="button_01 col-xs-12 col-md-offset-6 col-md-6">
                  <a onclick="plusDivs(-1, 02)" name="02"><btn class="btn btn-success btn-lg forescout-btn next" >START</btn></a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-offset-6 col-md-6">
                  <p class="small_p">Press <strong>Enter</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide slide2" value="job_func" id="2">
          <div class="container" >
            <div class="row question">
              <div class="col-md-9">
                <h1>What is your job function?</h1>
                <br>
                <p>(Choose as many as you like)</p>
              </div>

            </div>



            <div class="row answer">
              <div class="col-md-5">
                <form role="form" method="POST" enctype="multipart/form-data" action="/forescore/POST">
                  <input class="input_check" type="checkbox" name="job_function" value="">
                  <div class="check_box col-md-12" >
                    <a href=""><img class="check_box_image job_func_image" name="executive" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Executive / Strategic IT</p>
                  </div>

                  <div class="check_box col-md-12 back_white">
                    <a href=""><img class="check_box_image job_func_image" name="functional_it" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Functional IT / Compliance Lead</p>

                  </div>
                  <div class="check_box col-md-12 back_white">
                    <a href=""><img class="check_box_image job_func_image" name="specify" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Please Specify Job function</p>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <h3>Please type in your job function to continue</h3>

              </div>

            </div>
            <div class="row button_container" >
              <div class="button_align col-md-6 col-md-offset-6">
                <a onclick="plusDivs(0, 01)" name="01"><btn class="btn btn-default btn-lg forescout-btn previous">PREVIOUS</btn></a>
                <a onclick="plusDivs(-2, 03)" name="03"><btn class="btn btn-success btn-lg forescout-btn next">NEXT</btn></a>

              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="slide slide3" id="3" value="num_employee">
          <div class="container" >
            <div class="row">
              <div class="col-md-9">
                <h1 style="">How many employees in your organization?</h1>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-4 ">
                    <div class="col-md-12 check_box back_white">
                      <input class="input_check" type="checkbox" name="2500_8000">
                      <a href=""><img class="check_box_image num_employee_image" src="/work/forescout_rectangle.png" alt="box"></a>
                      <p>< 2,500</p>

                    </div>
                  </div>
                  <div class="col-md-4 ">
                    <div class="col-md-12 check_box back_white" >
                      <input class="input_check" type="checkbox" name="2500_8000">
                      <a href=""><img class="check_box_image num_employee_image" src="/work/forescout_rectangle.png" alt="box"></a>
                      <p>2,500 - 8,000</p>

                    </div>
                  </div>
                  <div class="col-md-4 " >
                    <div class="col-md-12 check_box back_white" >
                      <input class="input_check" type="checkbox" name="2500_8000">
                      <a href=""><img class="check_box_image num_employee_image" src="/work/forescout_rectangle.png" alt="box"></a>
                      <p>> 8,000</p>
                    </div>
                  </div>

                </div>

                <br>
              </div>
            </div>

            <div class="col-md-5 no_padding">

              <p class="note">Please make a selection to continue</p>
            </div>
            <div class="row button_container" >

              <div class="col-md-6 col-md-offset-6" style="text-align: right;">
                <a onclick="plusDivs(-1, 02)" name="02"><btn class="btn btn-default btn-lg forescout-btn previous" style="color: #00a651; border-color: #00a651;">PREVIOUS</btn></a>
                <a onclick="plusDivs(-3, 04)" name="04"><btn class="btn btn-success btn-lg forescout-btn next" style="margin-left: 65px;">NEXT</btn></a>

              </div>

            </div>
            <br>
          </div>

        </div>
        <div class="slide slide4" id="4">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h1 style="">Which industry best characterizes your organization?</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5" style="margin-top: 50px;">
                <div class="col-md-12 no_padding">
                  <div class="select_container">
                    <select class="select_input col-md-12">
                      <option>Type or Select Option</option>
                    </select>
                  </div>


                </div>

              </div>
            </div>
            <div class="row button_container" style="height: 123px; background: none;">
              <div class="col-md-6 col-md-offset-6" style="text-align: right;">
                <a onclick="plusDivs(-2, 03)" name="03"><btn class="btn btn-default btn-lg forescout-btn previous" style="color: #00a651; border-color: #00a651;">PREVIOUS</btn></a>
                <a onclick="plusDivs(-4, 05)" name="05"><btn class="btn btn-success btn-lg forescout-btn next" style="margin-left: 65px;">NEXT</btn></a>
              </div>

            </div>


            <br>
          </div>
        </div>
        <div class="slide slide5" id="5" value="know">
          <div class="container" id="five">
            <div class="row">
              <div class="col-md-10 ">
                <h1 style="">Do you know exactly how many devices are connecting to your network?</h1>
              </div>

            </div>

            <div class="row" style="margin-top: 20px;">
              <div class="col-md-2 ">
                <div class="col-md-12 check_box">
                  <input class="input_check" type="checkbox" name="know_yes">
                  <a href=""><img class="check_box_image know_image" src="/work/forescout_rectangle.png" alt="box"></a>
                  <p >Yes</p>

                </div>
              </div>
              <div class="col-md-2">
                <div class="col-md-12 check_box">
                  <input class="input_check" type="checkbox" name="know_no">
                  <a href=""><img class="check_box_image know_image" src="/work/forescout_rectangle.png" alt="box"></a>
                  <p>No</p>
                </div>
              </div>


            </div>
            <div class="row" style="margin-top: 20px;">
              <div class="col-md-12">
                <br>
                <p style="font-size: 36px; color: #024c64; font-family: ProximaNova-thin; ">
                  Well, you're not alone. Survey Data shows over <span style="font-family: ProximaNova-reg;"><strong>25%</strong></span> don't know- and are likely
                  not NIST AC-3 compliant covering Access Control and Enforcement across networks and information systems.</p>

              </div>

            </div>
            <div class="row button_container" style="height: 123px; background: none;">
              <div class="col-md-6 col-md-offset-6" style="text-align: right;">
                <a onclick="plusDivs(-5, 06)" name="06"><btn class="btn btn-success btn-lg forescout-btn pull-right next" style="margin-left: 65px;">NEXT</btn></a>
                <a onclick="plusDivs(-3, 04)" name="04"><btn class="btn btn-default btn-lg forescout-btn pull-right previous" style="color: #00a651; border-color: #00a651;">PREVIOUS</btn></a>

              </div>
            </div>



            <br>
          </div>

        </div>
        <div class="slide slide6" id="6" value="iot_import">
          <div class="container" id="six">

            <div class="row">
              <div class="col-md-11">
                <h2 class="thin-font" style="">Organizations must conduct continuous monitoring and vulnerability detection
                  across all systems and compo- nents-including unmanaged devices/endpoints to comply with NIST Control CA-7.  How important is it to discover
                  that an IoT device is on your network?</h2>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 no_padding">
                <div class="col-md-6">
                  <div class="col-md-12 check_box back_white">
                    <input class="input_check" type="checkbox" name="unimportant" >
                    <a href=""><img class="check_box_image iot_import_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p >Unimportant</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 check_box  back_white">
                    <input class="input_check" type="checkbox" name="slightly">
                    <a href=""><img class="check_box_image iot_import_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Slightly Important</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 no_padding">
                <div class="col-md-6 ">
                  <div class="col-md-12 check_box  back_white">
                    <input class="input_check" type="checkbox" name="moderately" >
                    <a href=""><img class="check_box_image iot_import_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Moderately Important</p>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="col-md-12 check_box  back_white">
                    <input class="input_check" type="checkbox" name="very">
                    <a href=""><img class="check_box_image iot_import_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Very Important</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 no_padding">
                <div class="col-md-6 ">
                  <div class="col-md-12 check_box  back_white">
                    <input class="input_check" type="checkbox" name="extremely">
                    <a href=""><img class="check_box_image iot_import_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Extremely Important</p>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="col-md-12 check_box back_white">
                    <input class="input_check" type="checkbox" name="specify">
                    <a href=""><img class="check_box_image iot_import_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Please Specify</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row button_container">
              <div class="button_align col-md-6 col-md-offset-6 ">
                <a onclick="plusDivs(-6, 07)" name="07"><btn class="btn btn-success btn-lg forescout-btn pull-right next" style="margin-left: 65px;">NEXT</btn></a>
                <a onclick="plusDivs(-4, 05)" name="05"><btn class="btn btn-default btn-lg forescout-btn pull-right previous" style="color: #00a651; border-color: #00a651;">PREVIOUS</btn></a>

              </div>
            </div>

          </div>

        </div>
        <div class="slide slide7" id="7" value="importante">
          <div class="container " id="seven" >
            <div class="row">
              <div class="col-md-11">
                <h1 style="">How important is it to discover an IoT device on your network?</h1>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 no_padding">
                <div class="col-md-4">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="unimportant" value="unimportant">
                    <a href=""><img class="check_box_image importante_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p >Unimportant</p>
                  </div>

                </div>
                <div class="col-md-4 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="slightly" value="slightly">
                    <a href=""><img class="check_box_image importante_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p >Slightly Important</p>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="moderately" value="moderately">
                    <a href=""><img class="check_box_image importante_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p >Moderately Important</p>

                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 no_padding" style="margin-top: 0px;">
                <div class="col-md-4 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="very" value="very">
                    <a href=""><img class="check_box_image importante_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Very Important</p>

                  </div>

                </div>
                <div class="col-md-4 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="extremely" value="extremely">
                    <a href=""><img class="check_box_image importante_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Extremely Important</p>
                  </div>
                </div>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" style="margin-top: 10px;">
                <br>
                <p class="thin-font" style="font-size: 36px; color: #024c64"><span class="reg-font"><strong>89%</strong></span> think it is important to DISCOVER IoT devices</p>
              </div>
            </div>
            <div class="row button_container" style="height: 123px; background: none;">
              <div class="col-md-6 col-md-offset-6" style="text-align: right;">
                <a onclick="plusDivs(-5, 06)" name="06"><btn class="btn btn-default btn-lg forescout-btn previous" style="color: #00a651; border-color: #00a651;">PREVIOUS</btn></a>
                <a onclick="plusDivs(-7, 08)" name="08"><btn class="btn btn-success btn-lg forescout-btn next" style="margin-left: 65px;">NEXT</btn></a>
              </div>

            </div>

          </div>

        </div>
        <div class="slide slide8 h791" id="8" >
          <div class="container" id="eight">

            <div class="row">
              <div class="col-md-11">
                <h2 class="thin-font" style="margin-top: 0;">What describes most accurately your company's primary
                  approach to ensuring NIST IR-4 - INCIDENT HANDLING and Response Management securing all (including IoT) devices on your network?</h2>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 no_padding">
                <div class="col-md-6">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="01">
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>We have a password on our network</p>
                  </div>
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="03">
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>Nothing I'm aware of</p>
                  </div>
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="05">
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>We have a specialized agent that monitors our network</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="02" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>We rely on industry or manufacturer standard methods</p>
                  </div>
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="04" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>We have another approach</p>
                  </div>
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="06">
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p>I don't know</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="row note">
              <div class="col-md-12">
                <br>
                <p class="thin-font"><span class="reg-font"><strong>30%</strong></span> of organizations use the same approach</p>
                <br>
              </div>
            </div>

            <div class="row button_container">
              <div class="button_align col-md-6 col-md-offset-6 ">
                <a onclick="plusDivs(-6, 07)" name="07"><btn class="btn btn-default btn-lg forescout-btn previous" style="color: #00a651; border-color: #00a651;">PREVIOUS</btn></a>
                <a onclick="plusDivs(-8, 09)" name="09"><btn class="btn btn-success btn-lg forescout-btn next" style="margin-left: 65px;">NEXT</btn></a>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="slide slide9" id="9">
          <div class="container" id="nine">
            <div class="row">
              <div class="col-md-12 thin-font" style="margin-top: 0;">
                <span style="font-size: 72px; color: #024c64;">Thank you </span><span style="font-size: 42px; color: #024c64;"> for taking the time to share your insights.</span>
                <br>
                <span style="font-size: 30px; color: #024c64;">Now it's our turn to share with you.</span>
                <br>
              </div>
            </div>



            <div class="row">
              <div class="col-md-12" style="margin-top: 3%;">
                <span style="font-size: 24px; color: #024c64;"><strong>DOWNLOADS </strong></span>
                <span style="font-size: 24px; color: #024c64;"> (As many as you'd like)</span>
                <div class="col-md-12 check_box_end">
                  <input class="input_check" type="checkbox" name="d_01" >
                  <a href=""><img class="empty_check" src="/work/forescout_rectangle_empty.png"></a>
                  <p >For your Device Visibility Snapshot</p>
                </div>
                <div class="col-md-12 check_box_end">
                  <input class="input_check" type="checkbox" name="d_02" >
                  <a href=""><img class="empty_check" src="/work/forescout_rectangle_empty.png" alt="box"></a>
                  <p >IoT Security Survey Results</p>
                </div>
                <div class="col-md-12 check_box_end">
                  <input class="input_check" type="checkbox" name="d_03" >
                  <a href=""><img class="empty_check" src="/work/forescout_rectangle_empty.png" alt="box"></a>
                  <p >Continuous Monitoring and Threat Mitigation Report</p>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" style="margin-top: 1%;">
                <span style="font-size: 24px;"> FREE DEMO</span>
                <div class="col-md-12 check_box_end">
                  <input class="input_check" type="checkbox" name="demo" >
                  <a href=""><img class="empty_check" src="/work/forescout_rectangle_empty.png" alt="box"></a>
                  <p style="font-size: 23px;">See how ForeScout is transforming security through visibility.  Experience a FREE ForeScout CounterAct Demo</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" style="margin-top: 1%;">
                <span style="font-size: 24px;"> CONVERSATION</span>
                <div class="col-md-12 check_box_end">
                  <input class="input_check" type="checkbox" name="conversation" >
                  <a href=""><img class="empty_check" src="/work/forescout_rectangle_empty.png" alt="box"></a>
                  <p style="font-size: 24px;">Set up a face to face conversation with one of our sales enginners or channel partners</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" style="margin-top: 1%;">
                <span style="font-size: 24px;"> MORE CONVINCING</span>
                <div class="col-md-12 check_box_end">
                  <input class="input_check" type="checkbox" name="convince_01" >
                  <a href=""><img class="empty_check" src="/work/forescout_rectangle_empty.png" alt="box"></a>
                  <p style="font-size: 24px;">See what our customers are saying</p>
                </div>
                <div class="col-md-12 check_box_end">
                  <input class="input_check" type="checkbox" name="convince_02" >
                  <a href=""><img class="empty_check" src="/work/forescout_rectangle_empty.png" alt="box"></a>
                  <p style="font-size: 24px;">See what industry analysts are saying</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 thin-font" style="margin-top: 1%;">
                <span style="font-size: 24px; color: #024c64;">Which IT cyber security framework is implemented by your organization? (you can select more than one)</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 no_padding">
                <div class="col-md-3 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="framework_01" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p style="font-size: 24px;">HIPPA</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="framework_02" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p style="font-size: 24px;">NIST</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="framework_03" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p style="font-size: 24px;">PCI</p>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="framework_04" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p style="font-size: 24px;">SANS/CRC</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 no_padding">
                <div class="col-md-3 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="framework_05" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p style="font-size: 24px;">ISO / 2700 Series</p>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="framework_06" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p style="font-size: 24px;">COBIT</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-12 check_box">
                    <input class="input_check" type="checkbox" name="framework_07" >
                    <a href=""><img class="check_box_image" src="/work/forescout_rectangle.png" alt="box"></a>
                    <p style="font-size: 24px;">IASME</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" style="margin-top: 1%;">
                <span class="col-md-12 thin-font no_padding" style="font-size: 24px; color: #024c64;">Please provide your name and corporate email address</span>
              </div>
            </div>
            <div class="row name_input_field">
              <div class="col-md-4" style="margin-top: 1%;">
                <div class="col-md-12 no_padding">
                  <label style="font-size: 16px">First Name</label><br>
                  <input type"text">
                </div>
              </div>
              <div class="col-md-4" style="margin-top: 1%;">
                <div class="col-md-12 no_padding">
                  <label style="font-size: 16px;">Last Name</label><br>
                  <input type="text">
                </div>
              </div>
              <div class="col-md-4" style="margin-top: 1%;">
                <div class="col-md-12 no_padding">
                  <label style="font-size: 16px;">Corporate Email Address</label><br>
                  <input type="text">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3 col-md-offset-9 no_padding" style="margin-top: 3%; margin-bottom: 40px;">
                  <btn class="btn btn-success btn-lg forescout-btn pull-right">FINISH</btn>

                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="row footer">
      <div class="container" style="height: 100%;">
        <div class="footer_text col-md-7">
          ©2016 ForeScout Technologies Inc. All rights reserved. Terms of Use and Privacy Policy
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {
    //* Empty checkbox to Checked checkbox
    $('.check_box_image').on("click", function (e){
      e.preventDefault();
      var x = $(this).attr('src');
      var slide = $(this).parents('.slide').attr('value');
      var slide_s = "." + slide;
      var img_class_s = slide_s + "_image";
      var check_input = $(this).parents('.input_check');
      var input_imgs = $(img_class_s);
      console.log("this is the rad_input: ", check_input, "this is slide #: ", check_input);
      if (x == '/work/forescout_rectangle.png') {
        for (var i = 0; i < input_imgs.length; i++) {
          if ($(input_imgs[i]).attr('src') == '/work/forescout_checkbox.png') {

            $(input_imgs[i]).attr('src', '/work/forescout_rectangle.png')
          }
        }
        $(this).attr('src', '/work/forescout_checkbox.png')

      }
      else {
        $(this).attr('src', '/work/forescout_rectangle.png')

      }
    })

    $('.empty_check').on("click", function (e){
      e.preventDefault();
      var y = $(this).attr('src');
      if (y == '/work/forescout_rectangle_empty.png') {
        $(this).attr('src', '/work/forescout_rectangle_checked.png')
      }
      else {
        $(this).attr('src', '/work/forescout_rectangle_empty.png')
      }
    })
  })

  var height = $('.slide:first').height()

  var init = 0;
  showDivs(init);

  function plusDivs(n, y) {
    showDivs(height * n, y);
  }

  function showDivs(n, y) {
    var i = 0;
    var x = document.getElementById("slideshow");
    x.style.transform = "matrix(1, 0, 0, 1, 0," + n + ")";
  }
</script>

</body>
</html>
