<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/css/main.css" rel="stylesheet">-->
  <link href="/css/mobile2.css" rel="stylesheet">
  <link href="/css/slides.css" rel="stylesheet">
  <link href="/css/medium.css" rel="stylesheet">
  <!--<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">-->
</head>
<body>
  <div class="container-fluid" style="z-index: 999; position: fixed; width: 100%; height: 47px; background-color: #ffffff;">
    <div class="row">
      <div class="container no_padding">
        <div class="col-xs-12 logo">
          <img src="/work/forescout_logo_mobile.png" alt="forescout">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid slides">
    <div id="slideshow" style="transform: matrix(1, 0, 0, 1, 0, 0)">
      <div id="slide1" class="slide slide1 background">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-6 col-md-6">
              <h1 >Device Visibility Assessment</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-offset-6 col-md-6">
              <p class="reg-font">If you can’t see an unauthorized or noncompliant device on your network, you control it. Conventional security solutions are only capable of seeing devices that are equipped with agents-- ok if all devices were easily seen and managed by IT security. But they're not.  Networks are being bombarded by agentless IoT and BYOD devices connecting and expanding the attack surface...invisibly... giving attackers a sense of invincibility. The key is how to make the invisible visible.
              <p class="reg-font">Start by understanding your level of exposure to invisi- ble attacks by taking a few minutes fill out our Device Visibility Assessment
                to help your see what you may not be seeing before it's too late.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-8 col-xs-offset-1 col-xs-10 col-md-2 text-align" style="margin-top: 20px;">
              <btn class="btn btn-success btn-lg forescout-btn start next" data-skip-validate="true">START</btn>
              <p class="text-align"><br>Press <strong>Enter</strong><br><br></p>
            </div>
          </div>


        </div>
      </div>
      <div id="slide2" class="slide slide2">
        <div class="container">
          <div class="title">
            <h1>What is your job function?</h1>
            <p class="note">(Choose as many as you like)</p>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-5" >
              <div class="check_box_container">
                <div class="check_box" ><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                <p>Executive / Strategic IT</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <div class="check_box_container">
                <div class="check_box"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                <p>Functional IT / Compliance Lead</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <div class="check_box_container">
                <div class="check_box"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                <p>Please Specify Job function</p>
              </div>

            </div>
          </div>

          <div class="validation-error">Please select your job function to continue</div>

          <div class="row">
            <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
              <btn class="btn btn-default btn-lg forescout-btn prev">PREVIOUS</btn>
            </div>
            <div class="col-xs-6 col-md-3 button_container">
              <btn class="btn btn-success btn-lg forescout-btn next">NEXT</btn>
            </div>
          </div>
        </div>
      </div>
      <div id="slide3" class="slide slide3">
        <div class="container">
          <div class="title">
            <h1>How many employees in your organization?</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="check_box_container">
                <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                <p>< 2,500</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="check_box_container">
                <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                <p>2,500 - 8,000</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="check_box_container">
                <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                <p>> 8,000</p>
              </div>
            </div>
          </div>

          <div class="validation-error">
            Please make a selection to continue
          </div>

          <div class="row">
            <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
              <btn class="btn btn-default btn-lg forescout-btn prev" data-target="slide2">PREVIOUS</btn>
            </div>
            <div class="col-xs-6 col-md-3 button_container">
              <btn class="btn btn-success btn-lg forescout-btn next" data-target="slide4">NEXT</btn>
            </div>
          </div>
        </div>
      </div>
      <div id="slide4" class="slide slide4">
        <div class="container">
          <div class="title">
            <h1>Which industry best characterizes your organization?</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-5">
              <div class="select_container">
                <select class="select_input path-selector">
                  <option>Type or Select Option</option>
                  <option value="government">Government</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
              <btn class="btn btn-default btn-lg forescout-btn prev" data-target="slide3">PREVIOUS</btn>
            </div>
            <div class="col-xs-6 col-md-3 button_container">
              <btn class="btn btn-success btn-lg forescout-btn next" data-target="slide5">NEXT</btn>
            </div>

          </div>
        </div>
      </div>

      <div class="nist-path">
        <div id="slide5" class="slide slide5">
          <div class="container">
            <div class="title">
              <h1>Do you know exactly how many devices are connecting to your Govt. Organization's network?</h1>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-2">
                <div class="check_box_container">
                  <div data-trigger="yes" class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p >Yes</p>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="check_box_container">
                  <div data-trigger="no" class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>No</p>
                </div>
              </div>
            </div>

            <div class="triggered-info">
              <div class="option yes">
                Impressive! Sounds like you're NIST AC-3 compliant-- which covers Access Control and Enforcement across networks and information systems. Survey Data shows just <strong>14.6%</strong> are confident like you.
              </div>
              <div class="option no">
                Well, you're not alone. Survey Data shows over <strong>25%</strong> don't know- and are likely not NIST AC-3 compliant covering Access Control and Enforcement across networks and information systems.
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
                <btn class="btn btn-default btn-lg forescout-btn pull-right prev">PREVIOUS</btn>
              </div>
              <div class="col-xs-6 col-md-3 button_container">
                <btn class="btn btn-success btn-lg forescout-btn pull-right next">NEXT</btn>
              </div>
            </div>
          </div>
        </div>
        <div id="slide6" class="slide slide6">
          <div class="container">
            <div class="title">
              <p>Organizations must conduct continuous monitoring and vulnerability detection across all systems and components—including unmanaged devices/endpoints to comply with NIST Control CA-7. How important is it to discover that an IoT device is on your network?*</p>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div data-trigger="all" class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p >Unimportant</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div data-trigger="all" class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Slightly Important</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div data-trigger="all" class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Moderately Important</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div data-trigger="all" class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Very Important</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div data-trigger="all" class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Extremely Important</p>
                </div>
              </div>
            </div>

            <div class="triggered-info">
              <div class="option all"><strong>89%</strong> think it is important to DISCOVER IoT devices</div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
                <btn class="btn btn-default btn-lg forescout-btn pull-right prev">PREVIOUS</btn>
              </div>
              <div class="col-xs-6 col-md-3 button_container">
                <btn class="btn btn-success btn-lg forescout-btn pull-right next">NEXT</btn>
              </div>

            </div>
          </div>
        </div>
        <div id="slide7" class="slide slide7">
          <div class="container">
            <div class="title">
              <h1 style="">How important is it to discover an IoT device on your network?</h1>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p >Unimportant</p>

                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Slightly Important</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Moderately Important</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Very Important</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-4">
                <div class="check_box_container">
                  <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>Extremely Important</p>
                </div>
              </div>
            </div>

            <div class="triggeed-info">
              <div class="option asdf">
                <strong>89%</strong></span> think it is important to DISCOVER IoT devices
              </div>
            </div>

            <div class="row">

              <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
                <btn class="btn btn-default btn-lg forescout-btn prev">PREVIOUS</btn>
              </div>
              <div class="col-xs-6 col-md-3 button_container">
                <btn class="btn btn-success btn-lg forescout-btn next" >NEXT</btn>
              </div>

            </div>

          </div>

        </div>
      </div>
      <div class="sans-path">
        <div id="slide5" class="slide slide5">
          <div class="container">
            <div class="title">
              <h1>Do you know exactly how many devices are connecting to your network?</h1>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-2">
                <div class="check_box_container">
                  <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p >Yes</p>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="check_box_container">
                  <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
                  <p>No</p>
                </div>
              </div>
            </div>

            <div class="triggered-info">
              Well, you're not alone. Survey Data shows over <span style="font-family: ProximaNova-reg;"><strong>25%</strong></span> don't know- and are likely not NIST AC-3 compliant covering Access Control and Enforcement across networks and information systems.
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
                <btn class="btn btn-default btn-lg forescout-btn pull-right prev">PREVIOUS</btn>
              </div>
              <div class="col-xs-6 col-md-3 button_container">
                <btn class="btn btn-success btn-lg forescout-btn pull-right next">NEXT</btn>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div id="slide8" class="slide slide8 col-xs-12" value="importante">
        <h1>What describes most accurately your company's primary
          approach to ensuring NIST IR-4 - INCIDENT HANDLING and Response Management securing all (including IoT) devices on your network?</h1>

        <div class="row">
          <div class="col-xs-12 ">
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>We have a password on our network</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>Nothing I'm aware of</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>We have a specialized agent that monitors our network</p>
            </div>
          </div>
          <div class="col-xs-12 ">
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>We rely on industry or manufacturer standard methods</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>We have another approach</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>I don't know</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="thin-font"><span class="reg-font"><strong>30%</strong></span> of organizations use the same approach</p>
          </div>

        </div>


        <div class="row">

          <div class="col-xs-6 button_container">
            <btn class="btn btn-default btn-lg forescout-btn prev">PREVIOUS</btn>
          </div>
          <div class="col-xs-6 button_container">
            <btn class="btn btn-success btn-lg forescout-btn next">NEXT</btn>
          </div>

        </div>

      </div>

      <div id="slide9" class="slide slide9 col-xs-12" value="importante">
        <span style="font-size: 56px; color: #024c64;">Thank you </span><span style="font-size: 28px; color: #024c64;"> for taking the time to share your insights.</span>
        <br>
        <span style="font-size: 28px; color: #024c64;">Now it's our turn to share with you.</span>
        <br>
        <div class="row" style="margin-top: 20px;">
          <div class="col-xs-12">
            <span class="reg-font" style="font-size: 16px; color: #024c64;"><strong>DOWNLOADS </strong></span>
            <span style="font-size: 16px; color: #024c64;"> (As many as you'd like)</span>
            <div class="col-xs-12 check_box_container borderless">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p >For your Device Visibility Snapshot</p>
            </div>
            <div class="col-xs-12 check_box_container borderless">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p >IoT Security Survey Results</p>
            </div>
            <div class="col-xs-12 check_box_container borderless multi_line">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p >Continuous Monitoring and Threat Mitigation Report</p>
            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-xs-12" style="margin-top: 1%;">
            <span> FREE DEMO</span>
            <div class="col-xs-12 check_box_container borderless multi_line">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>See how ForeScout is transforming security through visibility.  Experience a FREE ForeScout CounterAct Demo</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" style="margin-top: 1%;">
            <span> CONVERSATION</span>
            <div class="col-xs-12 check_box_container borderless multi_line">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>Set up a face to face conversation with one of our sales enginners or channel partners</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" style="margin-top: 1%;">
            <span> MORE CONVINCING</span>
            <div class="col-xs-12 check_box_container borderless">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p >See what our customers are saying</p>
            </div>
            <div class="col-xs-12 check_box_container borderless">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p >See what industry analysts are saying</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 thin-font" style="margin-top: 1%;">
            <span>Which IT cyber security framework is implemented by your organization? (you can select more than one)</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 ">
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>HIPPA</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>NIST</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>PCI</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>SANS/CRC</p>
            </div>
          </div>
          <div class="col-xs-12 ">
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>ISO / 2700 Series</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>COBIT</p>
            </div>
            <div class="col-xs-12 check_box_container">
              <div class="check_box" data-single="true"><img class="check_mark" src="/work/forescout_checkmark.png" alt="box"></div>
              <p>IASME</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <span class="col-md-12 thin-font no_padding" style="font-size: 16px; color: #024c64;">Please provide your name and corporate email address</span>
          </div>
        </div>

        <div class="row name_input_field">
          <div class="col-xs-12" style="margin-top: 1%;">
            <div class="col-xs-12 no_padding">
              <label>First Name</label><br>
              <input type="text">
            </div>
          </div>
          <div class="col-xs-12" style="margin-top: 1%;">
            <div class="col-xs-12 no_padding">
              <label>Last Name</label><br>
              <input type="text">
            </div>
          </div>
          <div class="col-xs-12" style="margin-top: 1%;">
            <div class="col-xs-12 no_padding">
              <label>Corporate Email Address</label><br>
              <input type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="text-align" style="margin-top: 40px; margin-bottom: 40px;">
            <btn class="btn btn-success btn-lg forescout-btn">FINISH</btn>

          </div>

        </div>

      </div>

      <div class="spacer" style="clear: both;">

      </div>
  </div>

</div>
  <div class="container-fluid social">
    <div class="row">
      <div class="col-xs-6">
        <p>CONTACT US</p>
      </div>
      <div class="col-xs-6" style="margin-top: 15px;">
        <a href="#"><img class="pull-right" src="/work/forescout_share_icon.png"></a>
      </div>
    </div>
  </div>
  <div class="container-fluid footer">
    <div class="row">
      <div class="container text-align">
        <p>©2016 ForeScout Technologies Inc. <br>All rights reserved. <br>Terms of Use and Privacy Policy</p>
      </div>
    </div>
  </div>
</body>

<script>
  var index = 0;

  $(document).ready(function() {
    var $checkmark = "<img src='/work/forescout_checkbox'/>";
    $('.check_box').on('click', function(e){
      var $this = $(this)
      var trigger = $this.data('trigger')
      var single = $this.data('single')

      if (trigger) {
        $this.closest('.slide').find('.option').hide()
        $this.closest('.slide').find('.' + trigger).show()
      }

      if (single) {
        $this.closest('.slide').find('.checked').removeClass('checked')
      }

      if ($this.hasClass('checked')) {
        $this.removeClass('checked')
      }else{
        $this.addClass('checked')
      }
    })

    $('.next').on('click', function(){
      var skip_validate = $(this).data('skip-validate')

      if (!skip_validate) {
        var checks = $(this).closest('.slide').find('.checked')
        if (checks.length == 0){
          $(this).closest('.slide').find('.validation-error').show()
          return false
        }else{
          $(this).closest('.slide').find('.validation-error').hide()
        }
      }

      index++;
      slide(index)
    })

    $('.prev').on('click', function(){
      index--;
      slide(index)
    })

  })

  function slide(slide_index){
    var height = $('.slide:first').outerHeight()

    var slide_to = -(height * slide_index)
    $('#slideshow').css('transform', "matrix(1, 0, 0, 1, 0," + slide_to + ")")
  }

  $('.path-selector').on('change', function(e){
    var value = $(this).val()

    $(this).addClass('checked')

    if(value == 'government'){
      $('.nist-path').show()
    }else{
      $('.sans-path').show()
    }
  })

</script>

</html>
