<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/css/main.css" rel="stylesheet">-->
  <link href="/css/mobile2.css" rel="stylesheet">
  <link href="/css/slides.css" rel="stylesheet">
  <link href="/css/medium.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <!--<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">-->
</head>
<body>
<div class="container logo">
  <div class="container">
    <div class="row">
      <img src="/work/forescout_logo_mobile.png" alt="forescout">
    </div>
  </div>
</div>

<div class="container-fluid slides">
  <div id="slideshow" style="transform: matrix(1, 0, 0, 1, 0, 0)">
    <div id="slide7" class="slide slide7">
      <div class="container">
        <div class="title">
          <h2 style="">NIST AC-14- Covers permitted actions without identification or authentication.
            Making the task of isolating threats easier, until the explosion of unmanaged devices/endpoints (i.e. IoT/BYOD).
            How important is it to discover/classify without the use of an agent?*
          </h2>
        </div>

        <div class="row" style="margin-top: 40px;">
          <div class="container value_bar_container">
            <div class="row">
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >1</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >2</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >3</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >4</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >5</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >6</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >7</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >8</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p >9</p>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 ">
                <div data-trigger="all" data-single="true" class="value_bar">
                  <p class="value_bar_10">10</p>
                </div>
              </div>
              <div class="spacer" style="clear: both;">
              </div>
            </div>
            <div class="row value_label">
              <div class="col-xs-4 col-md-4">
                <p>Not at all</p>
              </div>
              <div class="col-xs-2 col-md-4">
                <p>Some</p>
              </div>
              <div class="col-xs-6 col-md-2" style="text-align: right;">
                <p>Very Confident</p>
              </div>
            </div>
          </div>
        </div>
        <div class="triggered-info">
          <div class="option all">
            <strong>86%</strong></span> think it is important to DISCOVER/CLASSIFY WITHOUT using an agent
          </div>
        </div>

        <div class="row actions">

          <div class="col-xs-6 col-md-offset-6 col-md-3 button_container">
            <btn class="btn btn-default btn-lg forescout-btn prev">PREVIOUS</btn>
          </div>
          <div class="col-xs-6 col-md-3 button_container">
            <btn class="btn btn-success btn-lg forescout-btn next" >NEXT</btn>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid social">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-offset-7 col-md-2" style="text-align: right;">
      <p>CONTACT US</p>
    </div>
    <div class="col-xs-12 col-md-3 social_container" style="margin-top: 15px; text-align: right;">
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-youtube-play"></i>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="visible-xs visible-sm col-xs-12 text-align">
        <p>©2016 ForeScout Technologies Inc. <br/> All rights reserved. <br/> Terms of Use and Privacy Policy</p>
      </div>
      <div class="hidden-xs hidden-sm col-xs-10 text-align">
        <p>©2016 ForeScout Technologies Inc. All rights reserved. Terms of Use and Privacy Policy</p>
      </div>
    </div>
  </div>
</div>
</body>